* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

p {
  text-align: center;
  font-size: 5rem;
}

.App {
  height: 100vh;
  background-color: #fff;
  color: #3989d4;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 240px);
  gap: 1rem;
}

.board.game-over {
  opacity: 0.5;
}

.cell {
  background-color: lightgray;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  border: 0.5px solid #ccc;
  border-radius: 5%;
}

.cell.X {
  color: #3989d4;
}

.cell.O {
  color: #5bbdd4;
}

.cell.O,
.cell.X,
.game-over .cell {
  cursor: not-allowed;
}

footer {
  text-align: center;
}

.win-message {
  margin: 2rem;
}

.win-message span.O {
  color: #5bbdd4;
}

.win-message span.X {
  color: #3989d4;
}

.win-message span.D {
  color: #d47096;
}

button {
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: #5bbdd4;
  color: #fff;
  border-radius: 10%;
  border: 1px solid #5bbdd4;
}

button:hover {
  background-color: #4590a1;
  cursor: pointer;
}
