* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', cursive;
}

.App {
  height: 100vh;
  background-color: #fff;
  color: #3989d4;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 240px);
  gap: 1rem;
  border: 1px solid #000;
}

.cell {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  border: 0.5px solid #ccc;
}

.cell.X {
  color: #3989d4;
}

.cell.O {
  color: #5bbdd4;
}

/* .cell.O,
.cell.X {
  cursor: not-allowed;
} */
